<form (ngSubmit)="submit()" [formGroup]="contactForm" #formDir="ngForm" class=" pt-3 pb-4  border rounded">
  <div class="text-center h-25">
    <h2 id="logo">Agencia fake</h2>
  </div>
  <div class="text-center h-100">
    <input class="w-75 p-1 mb-1" type="text" placeholder="nome completo" formControlName="nome" required> <br>
    <div class="w-75 mx-auto validation-error" *ngIf="nome.invalid && formDir.submitted">
        <p >O nome é obrigatório.</p>
    </div>
    <input class="w-75 p-1 mb-1" type="text" placeholder="Número de celular" formControlName="cell" required appPhoneMask maxlength="15"> <br>
    <div class="w-75 mx-auto validation-error" *ngIf="cell.invalid && formDir.submitted">
        <p >O número é obrigatório.</p>
    </div>
    <input class="w-75 p-1 mb-1" type="text" placeholder="E-mail" formControlName="email" required appEmailValidator> <br>
    <div class="w-75 mx-auto validation-error" *ngIf="email.invalid && formDir.submitted">
        <p >O email é obrigatório.</p>
    </div>
    <button (click)="handleClick()" class="btn-faleconosco w-75 pt-1 mt-1">Enviar</button>
</div>

<div *ngIf="expression">
  <app-modal-message (changeClose)="OnChangeClose()"></app-modal-message>
</div>
</form>

