.footer {
  margin-top: 100px;
  height: 400px;
  background-image: linear-gradient(180deg, #180f4a, #090422, black);
  text-align: center;
  border-top: 5px solid #FF2978;
}

.logo-rodape{
  padding: 100px;
}

.agencia{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 34px;
}
