<div class="container " style="margin-top: 150px;">
  <div class="row h-100">
    <div class="col-lg-6 col-sm-12 text-center">
      <h2 class="large-word">Fale conosco</h2>
      <img src="assets/operador-de-telemarketing.png">
      <p class="mt-1" style="text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dicta quas ex minima delectus saepe molestiae in
        quod corrupti soluta harum enim reiciendis, ipsum, voluptatem ad quia fugiat perferendis sed!</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <app-fale-conosco-form></app-fale-conosco-form>
    </div>
  </div>
</div>
