<div class="container p-3 minhaNav">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h2 id="logo">{{logo}}</h2>
    </div>
    <div class="col-6 ">
      <button routerLink="/" class="btn-navbar">Home</button>
      <button routerLink="/sobre-nos" class="btn-navbar ">Sobre Nós</button>
      <button routerLink="/servicos" class="btn-navbar ">Serviços</button>
      <button routerLink="/fale-conosco" class="btn-faleconosco ">Fale Conosco</button>
    </div>
  </div>
</div>
