<div class="container p-3 minhaNav">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 d-none d-sm-block ">
      <h2 id="logo">{{logo}}</h2>
  </div>
    <div class="col-lg-6 col-sm-12">
      <button routerLink="/" class="btn-navbar col-3">Home</button>
      <button routerLink="/sobre-nos" class="btn-navbar col-3">Sobre Nós</button>
      <button routerLink="/servicos" class="btn-navbar col-3">Serviços</button>
      <button routerLink="/fale-conosco" class="btn-faleconosco col-3">Fale Conosco</button>
    </div>
  </div>
</div>
