.cartao {
  height: 350px;
  border: 1px solid #180f4a;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.cartao:hover {
  border: px solid #FF2978;
  background-color: #180f4a;
  color: #FFFF;
}
