<div class="container ">
  <div class="text-center ">
    <h2 class="large-word ">Um pouco sobre nós?!</h2>
    <h3 class="small-word">Somos uma das melhores no ramo!!</h3>
  </div>
  <div class="row justify-content-center align-items-center ">
    <p style="text-align: justify;" class=" col-6 text-secondary ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laudantium fuga
      quo aperiam atque officia neque nostrum unde ipsam? Explicabo, laudantium? Dolorem
      nemo veritatis enim fugiat dolor, esse fuga harum. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Sequi sit maxime minus sint temporibus nemo dolorum
      repudiandae cupiditate ab veritatis, molestias itaque omnis. Aliquid itaque distinctio,
      unde laboriosam ea repellat.</p>
      <div class="col-6 text-center">
        <img src="assets/lider-do-time.png">
      </div>
  </div>
  <div class="">
    <h3>Para ter certeza de nossa excelência, veja nossas avaliaçôes no
      <a  href="https://www.reclameaqui.com.br/" ><span class="text-success rec-aqui">ReclameAQUI</span></a>
    </h3>
  </div>
</div>
