<div class="container">
  <div class="row justify-content-center align-items-center mt-5 text-center">
    <div class="col-lg-6 col-sm-12 ">
      <h2 id="dash-title">Você achou a melhor</h2>
      <h2 class="large-word">Agência Digital</h2>
      <p class="text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis hic ab aliasquam
        iusto exercitationem quisquam quas enim numquam laborum totam dolorum, commodi dolor
        labore quod sit, incidunt ipsam aspernatur!</p>
        <button routerLink="/fale-conosco" class="btn-contact mt-2">Entre em contato</button>
    </div>
    <div class="col-lg-6 d-none d-sm-block text-center mt-5 border-left">
      <img class="img" src="assets/markting.png">
    </div>
  </div>


  <div class="text-center mb-5">
    <h2 id="dash-title-2">O que podemos fazer pelo seu negócio?</h2>
  </div>

  <div class="row text-center ">
    <app-card-dashboard class="col-lg-4 col-sm-12 p-1" [imagemUrl]="urlDaImagemPc" [title]="titleSites | titlecase">
    </app-card-dashboard>

    <app-card-dashboard class="col-lg-4 col-sm-12  p-1" [imagemUrl]="urlDaImagemCell" [title]="titleApps | titlecase">
    </app-card-dashboard>

    <app-card-dashboard class="col-lg-4 col-sm-12  p-1" [imagemUrl]="urlDaImagemPc" [title]="titleMarkting | titlecase">
    </app-card-dashboard>
  </div>
</div>
