
.img {
  height: 450px;
}

#dash-title {
  color: #180f4a;
  letter-spacing: 15px;
  font-weight: 900;
  font-size: 20px;
  padding: 0%;
  margin: 0%;
}

#dash-title-2 {
    font-size: 50px;
    margin: 0%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180f4a;
    margin-top: 200px;
}

.margTop {
  margin-top: 80px;
}
